.dark-mode {
  background-color: #1e1e1e;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  content: "🌑";
  transition: background-color 0.3s ease, color 0.3s ease;
}


#main-cheat-welcome-text {
  text-align: center;
  padding: 3%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.p {
  font-size: 5%;
}

#dark-mode-btn {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 50px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-btn.dark {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-btn:before {
  content: "🌑";
}

#dark-mode-btn.dark:before {
  content: "🌕";
}


/* Buttons */

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* or any other height value you prefer */
}


#dropbtn-gcse {
  background-color: #008CBA; /* Blue */
  padding: 20px;
  font-size: 20px;
  margin: 8px
}

#dropbtn-alevel {
  background-color: #f44336; /* Red */
  padding: 20px;
  font-size: 20px;
  margin: 10px
}

#dropbtn-alevel:hover, #dropbtn-alevel:focus {
  background-color: #ff9e9e;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

#dropbtn-gcse:hover, #dropbtn-gcse:focus {
  background-color: #9ad1ff;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

#dropbtn-gcse:not(:hover) {
  font-size: 20px;
  background-color: #008CBA;
  transition: all 0.5s ease-in-out;
}

#dropbtn-alevel:not(:hover) {
  font-size: 20px;
  background-color: #f44336;
  transition: all 0.5s ease-in-out;
}

.h1 {
  text-align: center;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

.h2 {
  text-align: left;
  font-size: 30px;
  padding: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding: 15px;
  background-color: #c3c4c7;
  color: black;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-content {
  font-size: 12px;
  color: green;
  padding-top: 25px;
}

.dropbtn {
  position: static;
  align-self: center;
  background-color: #00acff;
  color: white;
  cursor: default;
  padding: 20px;
  margin-right: 60px;
  margin-top: 30px; 
  font-size: 24px;
  border: 4px darkgray double;
}

.dropbtn:hover, .dropbtn:focus {
  /* Cool hover transition effect */
  font-size: larger;
  background-color: #10f7ff;
  transition: all 0.5s ease-in-out;
}

.dropbtn:not(:hover) {
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

#dropbtn-hizi {
  position: static;
  background-color: #2a436e;
  color: white;
  cursor: default;
  padding: 20px;
  margin-right: 60px;
  margin-top: 30px; 
  font-size: 24px;
  border: 4px darkgray double;
}

#dropbtn-hizi:hover, #dropbtn-hizi:focus {
  /* Cool hover transition effect */
  font-size: larger;
  transition: 0.5s;
  color: #ffac30;
}

#dropbtn-hizi:not(:hover) {
  font-size: 24px;
  transition: 0.5s;
  color: white;
}

.dropbtn-red {
  position: static;
  align-self: center;
  background-color: #ff0000;
  color: white;
  cursor: default;
  padding: 20px;
  margin-right: 60px;
  margin-top: 30px; 
  font-size: 24px;
  border: 4px darkgray double;
}

.dropbtn-red:hover, .dropbtn-red:focus {
  /* Cool hover transition effect */
  font-size: larger;
  transition: all 0.5s ease-in-out;
}

.dropbtn-red:not(:hover) {
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

.dropbtn-grey {
  position: static;
  align-self: center;
  background-color: #808080;
  color: white;
  cursor: default;
  padding: 20px;
  margin-right: 60px;
  margin-top: 30px; 
  font-size: 24px;
  border: 4px darkblue double;
}

.dropbtn-grey:hover, .dropbtn-grey:focus {
  /* Cool hover transition effect */
  font-size: larger;
  transition: all 0.5s ease-in-out;
}

.dropbtn-grey:not(:hover) {
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

.french-info-stats {
  color: #333;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: larger;
  transition: all 0.5s ease-in-out;
}
