.dark-mode {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  content: "🌑";
}

#dark-mode-btn {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

#dark-mode-btn.dark {
  background-color: #fff;
  color: #000;
}

#dark-mode-btn:before {
  content: "🌑";
}

#dark-mode-btn.dark:before {
  content: "🌕";
}



body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding: 25px;
  background-color: #c3c4c7;
  color: black;
  font-size: 25px;
}

.footer-content {
  font-size: 12px;
  color: green;
  padding-top: 25px;
}

.dropbtn {
  background-color: #00acff;
  color: white;
  padding: 20px;
  font-size: 24px;
  border: 4px darkgray double;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}