.dark-mode {
  background-color: #1e1e1e;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  content: "🌑";
  transition: background-color 0.3s ease, color 0.3s ease;
}


#main-cheat-welcome-text {
  text-align: center;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.p {
  font-size: 5%;
}

#dark-mode-btn {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 50px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-btn.dark {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-btn:before {
  content: "🌑";
}

#dark-mode-btn.dark:before {
  content: "🌕";
}





button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* or any other height value you prefer */
}


#dropbtn-gcse {
  background-color: #008CBA; /* Blue */
  padding: 20px;
  font-size: 24px;
  margin: 10px
}

#dropbtn-alevel {
  background-color: #f44336; /* Red */
  padding: 20px;
  font-size: 24px;
  margin: 10px
}






body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding: 25px;
  background-color: #c3c4c7;
  color: black;
  font-size: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-content {
  font-size: 12px;
  color: green;
  padding-top: 25px;
}

.dropbtn {
  position: static;
  align-self: center;
  background-color: #00acff;
  color: white;
  padding: 20px;
  font-size: 24px;
  border: 4px darkgray double;
}

.dropbtn-red {
  position: static;
  align-self: center;
  background-color: #ff0000;
  color: white;
  padding: 20px;
  font-size: 24px;
  border: 4px darkgray double;
}

.french-info-stats {
    color: #333;
    font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}